
.header {
  background-image: url("/images/bg-header-desktop.png");
  text-align: center;
}
h6 {
  color: #b1adade3;
}
button {
  width: 150px;
  height: 50px;
  border: transparent;
  border-radius: 50px;
  cursor: pointer;
}
.Green {
  background-color: rgba(89, 160, 89, 0.705);
}
.blue {
  background: rgba(93, 93, 194, 0.479);
}
.middle {
  text-align: center;
}

.main-div {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  margin-bottom: 24px;
}

.third-div {
  display: flex;
  width: 50%;
}

.listdiv {
  display: flex;
  flex-direction: column;
  width: 50%;
}

h3 {
  margin-bottom: -20px;
  color: #535050;
}
.foruth-div {
  text-align: center;
}
.fifth-div {
  display: flex;
}
.icon {
  margin: 70px;
  text-align: center;
}
.sixth-div {
  display: flex;
}
.Simage {
  margin: 70px;
}
.seventh-div {
  text-align: center;
}
.eighth-div {
  display: flex;
  background-image: url("/images/bg-header-desktop.png");
}
.Emargin {
  margin: 30px;
  margin-left: 70px;
}
.threelogodiv {
  margin-left: 250px;
}
a {
  color: #2a5add;
  text-decoration: none;
}
.elogo {
  margin: 40px;
  height: 20px;
  width: 20px;
}

.sv{
  width: 100%;
  height: 100%;
}
/* for double shadow */
.multiple-shadows {
  box-shadow: 
      0 0 10px rgba(0, 0, 0, 0.5), /* First shadow */
      0 0 20px rgba(0, 0, 255, 0.5); /* Second shadow */
}